didimo-digital-human-unity-project/Assets/TextMesh Pro
didimo-digital-human-unity-project/.vsconfig
NativeAndroidApp/androidBuild/unityLibrary/build
NativeAndroidApp/androidBuild/unityLibrary/src/main/Il2CppOutputProject/IL2CPP/build
NativeAndroidApp/androidBuild/unityLibrary
